body {
    background-color: rgba(0, 0, 66);
    color: white;
    padding: 68px 0;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.neon h1 {
    text-align: center;
}

.card {
    width: 200px;
    height: 300px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    background-color: greenyellow;
}

.card img {
    width: 200px;
}

.card h2 {
    margin: 0;
    color: #333;
}

.card p {
    text-align: center;
    color: #666;
}

.card:hover {
    box-shadow: 0 0 20px rgba(228, 125, 193, 0.7), 0 0 30px rgba(228, 125, 193, 0.7);
    /* Glowing effect */
}

.card::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 153, 255, 0.1);
    /* Optional background glow */
    border-radius: 15px;
    transition: all 0.3s ease;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
    /* Show background glow on hover */
}