body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* Ensure it's behind the content */
}

.scroll-images {
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    /*Adjustspeedhere*/
    -webkit-animation: scroll 20s linear infinite;
    padding: 18px 0px 0px 0px;
}

.scroll-images img {
    margin: 0 10px;
    width: 400px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}